@import "./globals";
@import "./variables";

//Info container
.info__container {
    padding: 8.8rem 2.4rem 6.4rem;
    text-align: center;

    h1 {
        margin-bottom: 1.6rem;
    }

    p {
        max-width: 327px;
        margin: 0 auto;
        font-weight: 500;
    }
}

//Form container
.form__container {
    max-width: 327px;
    margin: 0 auto;

    //Try free button
    .try__free {
        width: 100%;
        margin-bottom: 2.4rem;
        padding: 1.8rem 6.6rem;
        border: none;
        border-radius: 1rem;
        outline: none;
        box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
        background-color: $violet;
        font-size: 1.5rem;
        letter-spacing: 0.27px;
        color: #fff;
        cursor: pointer;

        & span {
            font-weight: 500;
        }
    }

    //Form
    form {
        padding: 2.4rem;
        margin-bottom: 6.8rem;
        background-color: #fff;
        box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
        border-radius: 1rem;

        .input__container {
            position: relative;

            input {
                width: 100%;
                padding: 1.5rem 0 1.5rem 1.9rem;
                margin-bottom: 2rem;
                border: 1px solid #DEDEDE;
                border-radius: 0.5rem;
                outline: none;
                font-size: 1.2rem;

                &::placeholder {
                    font-size: 1.4rem;
                    font-weight: 600;
                    letter-spacing: 0.25px;
                    color: $darkBlue;
                    opacity: 0.75;
                }

                &:focus,
                &:active {
                    border: 1px solid $violet;
                }
            }

            &.error {
                input {
                    margin-bottom: 0.6rem;
                }

                input,
                input::placeholder {
                    color: $pink;
                    opacity: 1;
                    font-weight: 700;
                }

                input,
                input:focus,
                input:active {
                    border: 3px solid $pink;
                }

                .icon__error {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(-100%, 80%);
                }

                .text__error {
                    display: block;
                    margin-bottom: 1.9rem;
                    font-size: 1.1rem;
                    font-weight: 500;
                    line-height: 1.65rem;
                    text-align: right;
                    color: $pink;
                }
            }
        }

        //Submit button
        .submit {
            width: 100%;
            padding: 1.5rem 0;
            margin-bottom: 0.8rem;
            border: none;
            border-radius: 1rem;
            outline: none;
            background-color: #38CC8B;
            box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
            font-size: 1.5rem;
            font-weight: 600;
            letter-spacing: 1px;
            color: #fff;
            text-transform: uppercase;
            transition: background-color 0.2s ease-in;

            &:hover {
                background-color: #77E2B3;
            }
        }

        //Agree terms text
        .agree__terms {
            max-width: 249px;
            margin: 0 auto;
            font-size: 1.1rem;
            font-weight: 500;
            line-height: 2.1rem;
            text-align: center;
            color: #BAB7D4;

            & a {
                text-decoration: none;
            }

            & span {
                font-weight: 700;
                color: $pink;
            }
        }

        .icon__error,
        .text__error {
            display: none;
        }
    }
}

@media screen and (min-width: 992px) {
    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../images/bg-intro-desktop.png")
    }

    //Info container
    .info__container {
        padding: 0 4.5rem 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;

        h1 {
            margin-bottom: 2.8rem;
            font-size: 5rem;
            line-height: 5.5rem;
            letter-spacing: -0.52px;
        }

        p {
            max-width: 620px;
            line-height: 2.8rem;
        }
    }

    //Form container
    .form__container {
        max-width: 540px;
        margin: 0;
        padding: 0;

        //Try free button
        .try__free {
            padding: 1.7rem 0;
        }

        //Form
        form {
            padding: 4rem;
            margin-bottom: 0;

            .input__container {
                input {
                    padding: 1.5rem 0 1.5rem 3.2rem;
                    font-size: 1.4rem;
                }
            }

            //Agree terms text
            .agree__terms {
                max-width: 100%;
                line-height: 2.6rem;
            }
        }
    }
}